body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}
/* Main Styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1150px;
  margin: 0 auto;
}
/* Main Content */
.main_content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 50px 90px;
}
/* About styles */
.about {
  margin-bottom: 40px;
}
.about_position {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}
.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about-cover {
  display: block;

  min-width: 169px;

  padding: 16px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(30, 41, 57, 0.035);
  color: #fb6d3a;
  transition: background-color 250ms ease, color 250ms ease;
}

.about-cover:hover,
.about-cover:focus {
  color: #ffffff;
  background-color: rgb(30, 41, 57);
}
.about_description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-align: justify;
  text-indent: 2em;
}

.projects {
  margin-bottom: 50px;
}
.projects,
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.projects_list {
  padding: 0;
  margin-left: 15px;
}
.projects_item,
.project_bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project,
.project_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.project {
  margin: 10px;
}
.project_link {
  margin-left: 10px;
}
/* Work styles */
.work {
  margin-bottom: 45px;
}
.work_position,
.organisation {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organisation {
  color: #fb6d3a;
}
.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.line {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.work_list {
  padding: 0;
  margin-bottom: 15px;
}
.work_list_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-right: 40px;
}

/* Education Styles */
.education {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.education_university {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}
.education_speciality {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}
/* Sidebar Styles */
.sidebar {
  background-color: #1e2939;

  width: 370px;
}
.photo {
  width: 370px;
  margin-bottom: 50px;
}

.Contacts,
.Tech_Skills,
.Soft_Skills,
.Languages_skills,
.Certificates_skills {
  margin-left: 40px;
}
.Contacts {
  margin-bottom: 50px;
}
.Tech_Skills {
  margin-bottom: 45px;
}

.Sidebar_title,
.Languages_title,
.Certificates_title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contact_type {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;

  display: flex;
  align-items: center;
  gap: 8px;
}

.contact_type:not(:last-child) {
  margin-bottom: 10px;
}

svg {
  fill: #ffffff;
  transition: fill 250ms ease;
}

.contact_type:hover .contact_link,
.contact_type:focus .contact_link {
  color: #fb6d3a;
}

.contact_type:hover svg,
.contact_type:focus svg {
  fill: #fb6d3a;
}
.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  transition: color 250ms ease;
}

.Tech_Skills_list,
.Sidebar_title_list,
.Languages_title_list,
.Certificates_title_list {
  padding: 0;
  margin-left: 17px;
}

.Tech_Skills_item,
.Sidebar_title_item,
.Languages_title_item,
.Certificates_title_item {
  color: #fb6d3a;
}
.Tech_Skills_text,
.Sidebar_title_text,
.Languages_title_text,
.Certificates_title_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.photo_certificate {
  width: 370px;
  margin-top: 12px;
}
